*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  
  /* *, ::before, ::after{
      margin: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
  }
  
  body{
      overflow-y: visible;
  }
  
  .overlay {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 99999;
      transition: all 2s ease-in-out;
  }
  
  .overlay-container{
      width: 100%;
      height: 100vh;
      overflow-y: auto; 
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99999;
  }
  
  .design1{
      background-color: #0066ff;
      position: relative;
      float: left;
  }
  
  .design1 img{
      width: 200px;
      position: absolute;
      top: -30px;
      right: -170px;
      transform: rotate(180deg);
  }
  
  .design2{
      background-color: #0066ff;
      position: relative;
      float: right;
  }
  
  .design2 img{
      width: 170px;
      position: absolute;
      top: -140px;
      right: -30px;
  }
  
  .Modal {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 60%;
      border-radius: 5px;
      transition: all 2s ease-in-out;
  }
  
  .Modal .header{
      text-align: center;
      font-size: 15px;
      margin-top: 1em;
      margin-bottom: 1em;
  }
  
  .Modal .header h2{
      font-size: 25px;
  }
  
  .Modal #signupForm .signup-container{
      display: flex;
      justify-content: space-between;
      gap: 50px;
      margin-bottom: 1em;
  }
  
  .Modal #signupForm .signup-container .signup{
      display: grid;
      flex: 1 100px;
      text-align: center;
  }
  
  .Modal #signupForm .signup-container .signup label{
      margin-bottom: 10px;
      font-size: 15px;
  }
  
  .Modal #signupForm .signup-container .signup input{
      padding: 7px 20px;
      border-radius: 20px;
      outline: none;
      border: 1px solid #ccc;
      font-size: 15px;
      transition: all 1000ms ease-in-out;
  }
  
  .Modal #signupForm .signup-container .signup input:hover{
      border-color: #e6835f;
  }
  
  .Modal #signupForm .signup-container .signup select {
      width: 100%;
      padding: 7px 20px;
      border-radius: 20px;
      outline: none;
      border: 1px solid #ccc;
      font-size: 15px;
      transition: all 1000ms ease-in-out;
  }
  
  .Modal #signupForm .signup-container .signup select:focus {
      outline: none;
  }
  
  .Modal #signupForm .signup-container .signup select::-ms-expand {
      display: none;
  }
  
  .Modal #signupForm .signup-container .signup select:hover {
      border-color: #e6835f;
  }
  
  .Modal #signupForm .signup-container .signup option {
      background-color: #fff;
      color: #333;
  }
  
  .Modal #signupForm .signup-container .signup option:hover {
      background-color: #3498db;
      color: #fff;
  }
  
  .Modal #signupForm .button-container{
      display: flex;
      justify-content: center;
  }
  
  .Modal #signupForm .button-container button{
      background-color: #e6835f;
      padding: 5px 60px;
      border: none;
      color: #fff;
      border-radius: 50px;
      margin-bottom: 1em;
  }
  
  .Modal #signupForm .text{
      text-align: center;
  }
  
  #msg{
      color: green;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
  }
  
  #error-message{
      color: #ff4f4f;
      text-align: center;
  }
  
  
  @media(max-width: 991px) {
      .Modal{
          width: 80%;
      }
  }
  
  @media(max-width: 767px){
      .Modal{
          width: 90%;
      }
  
      .Modal #signupForm .signup-container{
          gap: 20px;
      }
  }
  
  @media(max-width: 625px){
      .Modal{
          margin-top: 7em;
      }
      .Modal #signupForm .signup-container{
          display: block;
      }
  
      .Modal #signupForm .signup-container .signup{
          text-align: left;
          margin-bottom: 1em;
      }    
  }
  
  @media(max-width: 480px){
      .Modal .header,
      .Modal #signupForm .signup-container .signup label,
      .Modal #signupForm .signup-container .signup input,
      .Modal #signupForm .signup-container .signup select,
      .Modal #signupForm .button-container button,
      .Modal #signupForm .text{
          font-size: 13px;
      }
  
      .Modal .header h2{
          font-size: 20px; 
      }
  
  } */
  
  body{
    font-family: 'Quicksand', sans-serif;
    overflow-y: visible;
  }
  span{
    padding: 0;
    margin: 0;
  }
  .nav-container{
    border-bottom: 1px solid #b6dde7;
    background-color: white;
  
  }
  
  @media Screen and (max-width:992px) {
    .nav-container,.nav2container{
    display: none; 
    }
  }
  
  #bnav{
    display: none;
  }
  
  @media Screen and (max-width:992px) {
   #bnav{
    display: block;
   }
    
  }
  
  .topnav{
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
  
  .topchild{
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .topchild img{
    margin-right: 10px;
  }
  
  .topchild p{
    margin: 0;
    color: rgb(114, 114, 114);
  }
  .topchild span{
    color: rgb(196, 196, 196);
  }
  
  /* the styling of the second nav satrts here */
  
  .nav2container{
    font-size: 14px;
    background-color: rgb(255, 106, 0);
    padding: 0px;
    margin: 0px;
    /* background-color: white; */
    /* position:sticky; */
   
  }
  .nav2{
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    align-items: center;
    padding: 5px 0px;
  
  }
  
  .nav2list{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  .nav2list li {
    position: relative;
  }
  
  .nav2list li a{
    color:rgb(78, 78, 78);
    text-decoration: none;
    color: white;
  padding: 15px;
  }
  
  .drop-container{
    display: none;
    box-shadow: 0px 7px 30px -20px;
  }
  
  .dropdowne{
    position: absolute;
    background-color: white;
    z-index: 999;
    top: 35px;
    list-style-type: none;
    animation: drop .5s linear ;
    border-radius: 5px;
  } 
  
  @keyframes drop{
    0%{
      margin-top: 30px;
    }
    25%{
      margin-top: 15px;
    }
    50%{
      margin-top: 0px;
    }
  }
  
  .dropdowne ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  .dropdowne li{
    padding: 0px;
    width: 200px;
  }
  
  .dropdowne li a{
    color: black;
    padding: 10px 15px;
    display: block;
  border-bottom: 1px solid #f1f1f1;
  
  }
  
  .dropdowne li a:hover{
    background-color: #d2e1f5;
  }
  
  .enroll{
    margin-left: auto;
  }
  
  .nav2list li:hover .drop-container{
    display: block;
  }
  
  .about{
    position: absolute;
    background-color: white;
  
    display: flex;
    border-top: 2px solid white;
    border-radius: 10px;
    top: 33px;
    animation: drop .5s linear ;
    display: none;
    box-shadow: 0px 7px 30px -20px;
    padding: 20px;
    z-index: 999;
  }
  
  @keyframes drop{
    0%{
      margin-top: 30px;
    }
    25%{
      margin-top: 15px;
    }
    50%{
      margin-top: 0px;
    }
  }
  
  .about-con{
    display: flex;
  }
  
  .ab-left{
    width: 300px;
    padding: 20px;
  }
  
  
  .ab-left h1{
  font-weight: lighter;
  font-size: 24px;
  }
  
  .pee{
    color: #c0c0c0;
    margin-top: 30px;
  }
  
  #learn-more {
    color:orange ;
  }
  
  .ab-right{
  width: 700px;
  }
  
  .ab-right img{
    width: 100%;
    border-radius: 10px;
  }
  
  
  .nav2list li:hover .about{
    display: block;
  }
  
  .enroll button{
    border: none;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
  }
  
  .enroll button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  
  
  /* the styling for the main content begins here */
.ruth{
  height: 700px;
  background-image: url("pics/ruth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.heading{
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
  line-height: 1.6;
}
.heading h1{
    font-weight: lighter;
    color: gray;
    font-size: 50px;
}

.tuition{
  padding-top: 30px;
}


.tuition h1{
  font-size: 30px;
}

#tablo{
  width: 100%;
  font-size: 20px;
}

 #row{
  gap: 50px;
  border-bottom: 1px solid rgb(209, 209, 209);
  background-color: #e5eff2;
  padding: 15px 7px;
}

td{
  padding: 20px 7px;
  color: gray;
  font-weight: lighter;
}


.pay button{
  border: none;
  padding: 10px 20px;
  background-color: #c20aa3;
  color: white;
  border-radius: 3px;
}

































  .stage5{
    background-color: #111111;
    /* font-weight: lighter; */
    
  }
  
  .stage5-content{
    max-width: 1100px;
    margin: 0px auto;
    padding: 100px 0px 70px 0px;
    color: white;
  }
  
  .stage5con{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap:50px;
    grid-column-gap:50px;
    margin: 0px auto;
    max-width: 1100px;
    justify-content:center;
  
  }
  
  @media screen and (max-width:992px){ 
  .stage5con{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
  }
  }
  
  @media screen and (max-width:700px){ 
    .stage5con{
      display: grid;
      grid-template-columns: auto auto;
      gap: 100px;
      padding: 0px 30px;
      gap: 30px;
      justify-content: center;
    }
    }
  
  .stage5con h1{
    font-size: 24px;
    color: white;
    font-weight: 200;
  }

  @media screen and (max-width:700px){ 
    .stage5con h1{
      font-size: 18px;
    }
    }
  
  .stage5con ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    width: 200px;
  }

  @media screen and (max-width:700px){ 
    .stage5con ul{
      width: 150px;
    }
    }
  
  .stage5con ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  }
  
  .stage5con input{
    outline: none;
    padding: 5px 10px;
    width: 100%;
  
  }
  
  .stage5con button{
    background-color: #da5800;
    color: white;
    border: none;
    padding: 5px 10px;
  }

  .social,.street{
    width: 200px;
    font-size: 13px;
  }
  
  .social img{
    width: 30px;
    padding-top: 10px;
  }
  
  .social ul{
    display: flex;
  }